@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.bodyBG {
  background-image: linear-gradient(
      to right,
      rgba(18, 194, 233, 0.5),
      rgba(196, 113, 237, 0.5),
      rgba(246, 79, 89, 0.5)
    ),
    url("./images/pattern.png");
}

.blurredBG {
  backdrop-filter: blur(20px) brightness(60%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.topRight {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 10;
}

.topLeft {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
}
