@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.bodyBG {
  background-image: url("./images/pattern2.png");
}

.mainBG {
  background-image: url("./images/pattern2.png");
}

.blurredBG {
  backdrop-filter: blur(20px) brightness(60%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.topRight {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 10;
}

.topLeft {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
}

.animeBanner {
  background-image: url("./images/anime_banner.jpg");
  background-size: cover;
}

.animeBanner2 {
  background-image: url("./images/anime_banner_2.jpg");
  background-size: cover;
}

.mangaBanner {
  background-image: url("./images/manga_banner.jpg");
}
