.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

.bodyBG {
  background-image: url("./images/pattern2.png");
}

.mainBG {
  background-image: url("./images/pattern2.png");
}

.blurredBG {
  backdrop-filter: blur(20px) brightness(60%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.topRight {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 10;
}

.topLeft {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
}

.animeBanner {
  background-image: url("./images/anime_banner.jpg");
  background-size: cover;
}

.mangaBanner {
  background-image: url("./images/manga_banner.jpg");
}
